body
{

  background-color: black !important;
}
@mixin button
{
  // background-color: #ef8fc1;
  width: 11rem;
  height: 50px;
  border-radius: 10px;
  border: 2px solid black;
  font-size: 20px;
  margin: 2px;
}

.h1
{
  padding-top: 30px;
}
.login
{
  background-color: #A0C3FF;
  .btm
  {
    @include button();
    background-color: #729AF0;
    height: auto;
    
  }
  .con1
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    .col1
    {
      padding: 50px !important;
      background-color: white;
      margin-top: 8rem;
      margin-bottom: 8rem;
      border-radius: 10px;
    }
    .btn1
    {
      @include button();
      background-color:#729af0;
    }
    .btn2
    {
      @include button();
      background-color: white
    }
  
  
  p{
    margin-top: 20px;
    a{
      text-decoration: none;
    }
  }
  }

}

.links
{
  text-decoration: none;
  color: black;
}


//signUp start


.signup
{

  background-color: #36474F;
 .btm
 {
  background-color: #99cae0;
 }
  .brd
  {
    border: 2px solid black;
  }

  
  .con1
    {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
  

    .col2
    {
      padding: 50px;
      background-color: white;
      margin-top: 8rem;
      margin-bottom: 8rem;
      border-radius: 10px;
    }
    .btn1
    {
      @include button();
      background-color:white;
    }
    .btn2
    {
      @include button();
      background-color: #99cae0;
    }


    

  
  
  .btn3
  {
    @include button();
    margin-top: 20px;
    background-color: #8bbacf;
    width: 100%;
  }
  p{
    margin-top: 20px;
         a{
      text-decoration: none;
        }
      }
  }

    

     
    
}





//state
